@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body		{ font-family: 'NanumSquare', sans-serif; }
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons */
body{
    font-size:15px;
}


a{
    text-decoration: none;
    color:inherit;
}
li{
    list-style: none;
}
/* header  */
header{
    width: 100%;
    overflow-x: hidden !important;
}
.gnb{
    display: flex;
    justify-content: space-between;
}
.left-navi{
    display: flex;
    padding: 26px 0 20px 40px;
}
.left-menu{
    display: flex;
    padding-left: 80px;
    align-items: center;
}
.left-menu a{
    font-size: 15px;
    font-weight: 600;
}
.left-menu li+li{
    margin-left: 40px;
}
.left-menu li{
    margin-top: 2px;
    color: #222222;
    font-weight: 500;
}
.right-navi{
    padding: 30px 40px 0;
}
.right-menu{
    display: flex;
}
.right-menu li{
    margin-top: 2px;
    padding: 0 12px;
    position: relative;
}

.right-menu li a span{
    width: 3rem;
    height: 0.5rem;
    background-color: #00aa91;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
}

.right-menu li a{
    color: #999;
}
.right-menu p {
    padding: 0 12px;
    margin: 2px 0 0;
}

.right-menu p .green{
    font-size: 15px;
    color: #00aa91;
    font-weight: 400;
}

.gnb .right-menu li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #e9e9e9;
    top: 50%;
    right: 0;
    margin-top: -10px;
    z-index: 99;
}

.menu-btn{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
/* header end */

/* pc-slide */
.slide .swiper-slide{
    width: 100%;
    height: 630px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.bg1{
    background:url('../image/bg_visual_24.jpg')
}
.bg2{
    background:url('../image/bg_visual_20.jpg')
}
.bg3{
    background:url('../image/bg_visual_22.jpg')
}

.swiper-button-next {
    background-image: url('../image/btn_next.png');
    background-repeat: no-repeat;
}
.swiper-button-prev {
    background-image: url('../image/btn_prev.png');
    background-repeat: no-repeat;
}
.swiper-button-next {
    left: 465px !important;
    top: 552px !important;
    margin-top: 0 !important;
    cursor: pointer !important;
    z-index: 99 !important;
}
.swiper-button-prev {
    left: 353px !important;
    top: 552px !important;
    margin-top: 0 !important;
    cursor: pointer !important;
    z-index: 99 !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: none !important;
    color: transparent !important;
}
.swiper-pagination-fraction {
    bottom: 61px !important;
    right: 528px !important;
    left: auto !important;
    width: 100% !important;
    font-size: 16px;
    font-weight: 800;
}
/* mobile-slide */
.mobile-slide .swiper-slide{
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: none;
}

/* 자세히보기 버튼 */

.banner .banner-text{
    position:absolute;
    width: 7.75rem;
    padding: 1rem 0;
    background-color: #009eab;
    text-align: center;
    border-radius: 0.3rem;
    top: 492px;
    left: 900px;
    z-index: 999;
    cursor: pointer;
}
.banner .banner-text a{
    color: #fff;
    font-weight: 600;
}

.banner .banner-text2{
    position:absolute;
    width: 7.75rem;
    padding: 1rem 0;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    top: 358px;
    left: 471px;
    z-index: 999;
    cursor: pointer;
}
.banner .banner-text2 a{
    color: #fff;
    font-weight: 600;
}

/* text 영역 */

.notice-wrap{
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}
.text{
    display: flex;
    width: 60%;
    padding: 1.5rem;
    justify-content: center;
}
h4{
    font-size: 1rem;
    padding-right: 2rem;
}
.text p{
    color: #666;
}

/* content 영역 */

h1{
    font-family: 'NanumSquare', sans-serif;
    color: #111;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem;
 }
.content{
    display: flex;
}
.menu{
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.menu h3{
    padding: 1rem;
    font-size: 1.25rem;
    color: #111;
    font-weight: 800;
}
.menu p{
    font-size: 1rem;
    color: #666;
}
/* button */

.button{
    padding: 3rem; 
}
.button p {
    width: 11rem;
    padding: 1rem;
    background-color: #00aa91;
    text-align: center;
    border-radius: 0.3rem;
    margin: 0 auto;
    cursor: pointer;
}
.button p a{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

/* content02 영역 */

.content02{
    border-top: 1px solid #e9e9e9;
    width: 100%;
    position: relative;
    background-image: url('../image/bg_introduction.png');
    background-size: 100%;
    background-position: center bottom;
    height: 650px;
    background-repeat: no-repeat;
}

.content_title{
    padding: 50px 0 0 0;
}

h1 span{
    font-weight: 800;
    font-size: 32px;
    font-family: 'NanumSquare', sans-serif;
}

.content02 img{
    width: 100%;
    height: 720px;
}

/* content03 영역 */

.content03{
    position: relative;
}

.content03 ul {
    width: 60%;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
}

.content03 ul li {
    width: 100%;
    height: 170px;
    margin: 0 20px;
    padding: 40px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
}
.content03 ul li h2{
    color: #111;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 800;
}

.content03 ul li p{
    color: #999;
    font-family: 'NanumSquare', sans-serif;
    font-size: 16px;
    padding: 30px 0;
}

.content03 ul li:first-child {
    background: url('../image/bn_order.png') no-repeat 295px 100%;
}

.content03 ul li:last-child {
    background: url('../image/bn_large_order.png') no-repeat 314px 100%;
}

/* app 영역 */

.app{
    width: 100%;
    height: 630px;
    background: url('../image/bg_down.jpg')no-repeat center;
}

.app h1{
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 80px 0;
}

.app .btn{
    text-align: center;
    margin: 0 auto;
    margin-top: -10px;
}

.app .btn a{
    padding: 0 10px;
}

/* footer 영역 */

footer{
    width: 100%;
    background-color: #111;
}

footer .conts_area {
    padding: 32px 0 52px;
    width: 60%;
    margin: 0 auto;
}

footer .util ul{
    display: flex;
}

footer .util ul li{
    position: relative;
    padding: 0 12px 0 13px;
}

footer .util li:first-child {
    padding-left: 0;
}

footer .util ul li a{
    color: #fff;
    font-size: 14px;
    font-family: 'NanumSquare', sans-serif;
}

footer .util ul li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: #ffffff33;
    top: 50%;
    right: 0;
    margin-top: -5px;
    z-index: 99;
}
footer .util ul li:last-child::after{
    background: none;
}

footer .company_info {
    margin-top: 15px;
}

footer .company_info ul li{
    color: #999;
    font-size: 14px;
    padding: 5px 0;
}

footer .company_info ul li a{
    color: #999;
    font-size: 14px;
    padding: 5px 0;
    margin-left: 4px;
    text-decoration: underline;
}

footer .conts_area p{
    color: #666;
    font-size: 14px;
    padding-top: 30px;
}

@media (max-width: 1025px){
    body{
        overflow-x: hidden;
    }
    .right-menu{
        background: rgba(0,170,145,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top:0;
        width: 100%;
        left: 0;
        height: 100vh;
        margin-left: 1025px;
        transition: all 0.3s;
        z-index: 50;
    }
    .gnb-btn{
        margin-left:0;
    }
    .right-menu li{
        margin: 20px 0;
    }
    .right-menu a{
        font-size: 20px !important;
        color: #fff !important;
        font-weight: 400;
    }
    .right-menu p {
        padding: 0;
        margin: 20px 0;
    }
    .gnb .right-menu li::after{
        display: none;
    }
    .menu-btn{
        display: block;
        position: absolute;
        top:15px;
        right: 20px;
        z-index: 9999;
    }
    /* banner 영역 */
    .banner .banner-text {
        top: 492px;
        left: 454px;
    }
    .banner .banner-text2 {
        top: 358px;
        left: 36px;
    }
    .swiper-pagination-fraction {
        right: 411px !important;
    }
    .swiper-button-next {
        left: 140px !important;
    }
    .swiper-button-prev {
        left: 34px !important;
    }
    /* content 영역 */
    .menu{
        width: 80%;
    }
    .menu img{
        padding: 0 10px;
    }
    .content02 {
        height: 450px;
    }
    .content03 ul {
        width: 90%;
    }
    .content03 ul li {
        width: 100%;
        height: 150px;
    }
    .content03 ul li h2{
       width: 300px;
       font-size: 20px;
    }
    .content03 ul li p{
        color: #999;
        font-family: 'NanumSquare', sans-serif;
        font-size: 15px;
        padding: 20px 0;
    }
    
    .content03 ul li:first-child {
        background: url('../image/bn_order.png') no-repeat 264px 100%;
    }
    .content03 ul li:last-child {
        background: url('../image/bn_large_order.png') no-repeat 271px 100%;
    }

}

@media (max-width: 769px){
    .gnb {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
    }
    .left-navi{
        display: flex;
        padding: 0;
    }
    .left-menu{
        padding: 0;
        margin-left: 15px;
        width: 100%;
    }
    .left-menu a{
        font-size: 0.89rem;
        letter-spacing: -1px;
    }
    .logo{
        text-align: center;
    }
    .xi-bars{
        font-size: 2rem;
    margin-top: 9px;
    }
    .menu-btn {
        right: 8px;
        top: 1px;
    }
    /* section01 slide */
    .slide{
        display: none;
    }
    .mobile-slide .swiper-slide{
        display: block;
    }
    /* section02 */
    h1{
        font-size: 25px;
    }
    
    .menu{
        width: 80%;
    }
    .menu img{
        width: 70%;
        padding: 0 10px;
    }
    .menu h3{
        font-size: 15px;
    }
    .menu p{
        font-size: 12px;
    }
    h1 span{
        font-size: 25px;
    }
    .content02 {
        height: 350px;
    }
    .content03 ul {
        padding: 50px 0;
        width: 70%;
        flex-wrap: wrap;
    }
    .content03 ul li{
        margin: 0 auto;
    }
    .content03 ul li:first-child {
        background: url('../image/bn_order.png') no-repeat 362px 100%;
        margin: 0 0 20px 0;
    }
    .content03 ul li:last-child {
        background: url('../image/bn_large_order.png') no-repeat 371px 100%;
        margin-right: 0;
    }
}


@media (max-width: 541px){
    header {
        width: 90%;
    }
    .nav-menu ul li {
        padding: 10px;
        font-size: 10px;
        padding-right: 20px;
    }
    .nav-menu ul li a {
        font-size: 10px;
    }
    .nav-menu .bar_icon {
    display: block;
    padding-top: 7px;
    }
    .left-menu {
        display: none;
    }
    /* header end */
    .banner .banner-text {
        display: none;
    }
    .banner .banner-text2 {
        display: none;
    }
    /* section02 */
    .notice-wrap .text {
        width: 70%;
    }
    .menu02{
        margin: 0 10px;
    }
    /* section03 */
    h1 {
        font-size: 20px;
    }
    h1 span {
        font-size: 20px;
    }
    h4{
        font-size: 12px;
    }
    .text p {
        font-size: 10px;
    }
    .button p {
        width: 7rem;
        padding: 10px;
        background-color: #00aa91;
        text-align: center;
        border-radius: 0.3rem;
        margin: 0 auto;
    }
    .button p a {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
    }
    /* section03 */
    .content02 {
        height: 280px;
    }
    .content03 ul {
        padding: 50px 0;
        flex-wrap: wrap;
        width: 80%;
    }
    .content03 ul li h2 {
        font-size: 15px;
    }
    .content03 ul li p {
        font-size: 12px;
    }
    .content03 ul li:first-child {
        background: url('../image/bn_order.png') no-repeat 302px 100%;
    }
    .content03 ul li:last-child {
        background: url('../image/bn_large_order.png') no-repeat 311px 100%;
        margin-right: 0;
    }
    footer .util ul li a {
    font-size: 10px;
    }
    footer .company_info ul li {
        font-size: 10px;
    }
    footer .company_info ul li a {
        font-size: 10px;
    }
    footer .conts_area p {
        font-size: 10px;
    }

}

@media (max-width: 415px){
    header .logo img{
        width: 150px;
    }
    .nav-menu ul li {
        display: none;
    }
    .nav-menu .bar_icon {
        display: block;
        padding-top: 5px;
    }
    .banner {
        width: 100%;
        height: 300px;
        background: url('../image/bg_visual.png')no-repeat center;
        position: relative;
    }
    .notice-wrap .text {
        width: 80%;
    }
    h1 {
        font-size: 15px;
    }
    h1 span {
        font-size: 15px;
    }
    .menu {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu h3 {
        font-size: 11px;
    }
    .menu p {
        font-size: 10px;
    }
    .menu02 {
        margin: 30px 0;
    }
    .button {
        padding: 2rem;
    }
    .content02 {
        height: 250px;
    }
    .content_title {
        padding: 40px 0 0 0;
    }
    .content03 {
        width: 100%;
    }
    .content03 ul li {
        width: 100%;
        height: 120px;
        padding: 30px;
    }
    .content03 ul li h2 {
        font-size: 13px;
    }
    .content03 ul li p {
        font-size: 10px;
    }
    .content03 ul li:first-child {
        background: url(../image/bn_order.png) no-repeat 225px;
        background-size: 25%;
    }
    .content03 ul li:last-child {
        background: url(../image/bn_large_order.png) no-repeat 229px;
        background-size: 22%;
    }
    .app {
        width: 100%;
        height: 430px;
        background: url('../image/bg_down.jpg')no-repeat center;
    }
    .app h1 {
        padding: 40px 0;
    }
    .app .btn {
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    .app .btn img{
        width: 35%;
    }
}
@media (max-width: 321px){
    .notice-wrap .text {
        width: 100%;
    }
    .text h4{
        padding-right: 20px;
    }
    .content02 {
        height: 200px;
    }
    .content03 ul li h2 {
        font-size: 13px;
        width: 80%;
    }
    .content03 ul li:first-child {
        background: url(../image/bn_order.png) no-repeat 184px;
        background-size: 25%;
    }
    .content03 ul li:last-child {
        background: url(../image/bn_large_order.png) no-repeat 185px;
        background-size: 22%;
    }
}